<p>This is the about view.
<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="C:/xampp/htdocs/bootstrap/docs/examples/timemail/timemail.html"><font color="gold">Home</font></a></li>
            <li role="presentation" class="active"><a href="C:/xampp/htdocs/bootstrap/docs/examples/timemail/about.html"><font color="gold">About</font></a></li>
            <li role="presentation"><a href="C:/xampp/htdocs/bootstrap/docs/examples/timemail/contact.html"><font color="gold">Contact</font></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><font face="serif" size="6" color="gold"><i>Timemail</i></font></h3>
      </div>

      <div class="jumbotron">
        <h1><font color="gold">What can you do with this website?</font></h1>
        <p class="lead">It doesn`t really matter out of which purpose you would like to send a timemail. All that matters is the great possibilities you get. You can remind whoever you want of whatever you want. With timemail, you can send yourself and others a message from the past. Just try it, it`s free!
        <img src="C:/xampp/htdocs/bootstrap/docs/examples/timemail/images/about.jpg" class="img-responsive" alt="Responsives Bild"> </p>
      </div> 

      <footer class="footer">
         <font color="gold"><p>&copy;<font color="gold"> Timemail 2015</font></p>
      </footer>

    </div>
</p>
