<div class="jumbotron">
  <h1><font face="times new roman" color="gold">What can you do with this website?</font></h1>
  <p class="lead">It doesn`t really matter out of which purpose you would like to send a timemail. All that matters is the great possibilities you get. You can remind whoever you want of whatever you want. With timemail, you can send yourself and others a message from the past. Just try it, it`s free!
  <img src="images/about.jpg" class="img-responsive" alt="Responsives Bild"> </p>
</div> 


