<div class="jumbotron">
  <h1><div class="pageHead">What can you do with this website?</div></h1>
  <p><div class="pageText">It does not really matter out of which purpose you would like to send a timemail. All that matters are the great possibilities you get. You can remind whoever you want of whatever you want. With timemail, you can send yourself and others a message from the past. Just try it, it is free!
  <img src="images/about.jpg" class="img-responsive" alt="Responsives Bild"></div></p>
</div> 


