<div class="jumbotron">
  <table id="white" class="table table-condensed" id="table">
  <h1><font face="times new roman" color="gold">Do you have any questions?</font></h1>
  <p class="lead">Tell us everything you want to say about timemail.<font color="blue"></font></p>
</div>

<form>
  <div align="left" class="form-group">
    <label for="exampleInputEmail1"><font color="grey">Your address</font></label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div align="left" class="form-group">
    <label for="exampleInputPassword1"><font color="grey">Message</font></label>
    <textarea class="form-control" rows="5" placeholder="write your message here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"><font color="gold">Send</button>
</form> 

<br><br>