<div class="jumbotron">
  <table id="white" class="table table-condensed" id="table">
  <h1><div class="pageHead">Do you have any questions?</div></h1>
  <p><div class="pageText">Tell us everything you want to say about timemail.</div></p>
</div>

<form>
  <div align="left" class="form-group">
    <label for="exampleInputEmail1" class="formcontrolHead">Your address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="enter email">
  </div>
  <div align="left" class="form-group">
    <label for="exampleInputPassword1" class="formcontrolHead">Message</label>
    <textarea class="form-control" rows="5" placeholder="write your message here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" class="buttons">Send</button>
</form> 

<br><br>