<div class="jumbotron" id="jumbo">
  <table id="white" class="table table-condensed" id="table">
  <h1><font face="times new roman" color="gold">What do you have to fill in?</font></h1>
  <p class="lead">Just tell us whom you want to send an mail and the date the receiver shall get it. Let`s start!</p>
</div>


<form>
  <div align="left" class="form-group">
    <label for="exampleInputEmail1"><font color="grey">Receiver`s address</font></label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div align="left" class="form-group">
    <label for="exampleInputPassword1"><font color="grey">Arrival date</font></label>
    <input type="date" class="form-control" id="exampleInputPassword2" placeholder="date HIER">
  </div>
  <div align="left" class="form-group">
    <label for="exampleInputPassword1"><font color="grey">Message</font></label>
    <textarea class="form-control" rows="5" placeholder="write your message here"></textarea>
  </div>
  <div align="left" class="form-group">
    <label for="exampleInputFile"><font color="grey">File input</font></label>
    <input type="file" id="exampleInputFile">
  </div>
  <button type="submit" class="btn btn-primary"><font size="3" color="gold">Send</button>
</form>  

<br><br>   





