<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 <div class="jumbotron">
        <h1><font  color="gold">What do you have to fill in?</font></h1>
        <p class="lead">Just tell us whom you want to send an mail and the date the receiver shall get it. Let`s start!</p>
      </div>

      <div class="container">
     
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1"><font color="gold">Receiver`s address</font></label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><font color="gold">Arrival date</font></label>
          <input type="date" class="form-control" id="exampleInputPassword2" placeholder="date HIER">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><font color="gold">Message</font></label>
          <textarea class="form-control" rows="5" placeholder="write your message here"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile"><font color="gold">File input</font></label>
          <input type="file" id="exampleInputFile">
        </div>
       </form> 

      <button type="submit" class="btn btn-primary"><font color="gold">Send</button>

      <footer class="footer">
         <font color="gold"><p>&copy;<font color="gold"> Timemail 2015</font></p>
      </footer>

    </div>
